.startupship {
    align-items: center;
    margin-top: 18em;
    display: flex;
}

.logo-SHIP {
    margin-right: 0px;
    position: relative;
    width: 50%;
}

.por_cima {
    position: absolute;
    z-index: 1;
}