.titulo-como-funciona-ship {
    font-family: 'Montserrat Bold', sans-serif;
    color: #48495a;
    font-weight: 500;
    font-size: 3em;
}

.texto-como-funciona-ship {
    margin-top: 2em;
    margin-right: -5px;
}