.margem {
    margin-top: 10em;
}

.align-items-center {
    align-items: center;
}

.logo {
    margin-top: 2.5em;
    margin-left: 4em;
}

.logo img {
    width: 100%;
    height: auto;
}

hr {
    margin-top: 4em;
    margin-bottom: 4em;
    border-width: 2px;
    border-color: #EDC02C;
}