#secao-depoimentos {
    margin-top: 5em;
    padding-top: 6em;
    padding-bottom: 3em;
    display: flex;
    justify-content: space-between;
    background-color: #fafafa;
}

.carrossel-depoimentos {
    width: 100%;
    overflow: scroll;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    #secao-depoimentos {
        display: block;
    }
  }
