.space {
    justify-content: space-between;
}

.resp img {
    width: 100%;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}

@media only screen and (max-width: 768px) {
    .margem {
        margin-top: 4em;
    }

    .center {
        text-align: center;
    }
}