.App {
  justify-content: center;
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.align-left {
  align-content: flex-start;
}

.align-right {
  align-content: flex-end;
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("./Assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat Normal";
  src: url('./Assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: "Montserrat Light";
  src: url("./Assets/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("./Assets/fonts/Montserrat-Medium.ttf");
}

::-webkit-scrollbar {
  height: 6px;              
  width: 4px;               
  border: 1px solid #EDC02C;
}

::-webkit-scrollbar-thumb:horizontal{
  background: #EDC02C;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical{
  background: #EDC02C;
  border-radius: 10px;
}

b {
  font-family: 'Montserrat Bold', sans-serif;
  color: #EDC02C;
}

a:hover {
  text-decoration: none;
}

.button-primary {
  display: flex;
  font-family: "Montserrat Bold", sans-serif;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #12a2da;
  border: 3px solid #12a2da;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 50px;
  transition: padding 0.3s;
  align-content: flex-start;
  margin-right: 1.5rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.24);
}

.button-primary:hover {
  padding: 0.75rem 3rem;
}

.button-secondary {
  display: flex;
  font-family: "Montserrat Bold", sans-serif;
  font-weight: 400;
  color: #12a2da;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
  border: 2px solid #12a2da;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 50px;
  transition: padding 0.3s;
  align-content: flex-start;
}

.button-secondary:hover {
  padding: 0.75rem 3rem;
}

.align-items-center {
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .button-primary {
    margin-right: auto;
    margin-left: auto;
  }
  
  .button-secondary {
    margin-right: auto;
    margin-left: auto;
  }
}